<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<panels>
		<panel id="pan001" status="online">
			<device id="000" type="controlcenter" mac_bt="B8:27:EB:DD:1F:86" mac_eth="b8:27:eb:77:b5:2c" mac_wlan="b8:27:eb:22:e0:79" status="available">
				<description>
					A Raspberry Pi-bassed controller which serves as a control point to all panel-attached devices
				</description>
			</device>
			<device id="001" type="stethoscope"   mac="0006667d817d" 								  status="available">
				<description>
					An electronic stethoscope providing either augmented listening or unmodified heart sounds 
				</description>
			</device>
			<device id="002" type="opthalmascope" mac="0006667d817e" 								  status="available">
				<description>
					No description
				</description>
			</device>
			<device id="003" type="otoscope"      mac="0006667d817f" 								  status="unavailable">
				<description>
					No description
				</description>
			</device>
			<device id="004" type="pulseoximeter" mac="0006667d8180" 								  status="available">
				<description>
					No description
				</description>
			</device>
			<device id="005" type="bloodpressure" mac="0006667d8181" 								  status="unavailable">
				<description>
					No description
				</description>
			</device>
			<device id="006" type="thermometer"   mac="0006667d8182" 								  status="available">
				<description>
					No description
				</description>
			</device>
		</panel>
	</panels>
	<scenarios>
		<scenario id="scn000" title="baseline">
			<narrative>
				In this scenario, the patient presents with...
			</narrative>
			<parameters>
				<date></date>
				<tod></tod>
				<locale></locale>
			</parameters>
			<devices>
				<stethoscope>
					<events>
						<event id="001" seq="001" minutes="6:00">
							<title>Normal heartbeat</title>
							<heartrate>80</heartrate>
						</event>
						<event id="001" seq="002" minutes="6:00">
							<title>Heart murmur</title>
							<heartrate>100</heartrate>
						</event>
						<event id="001" seq="003" minutes="6:00">
							<title>3rd heart sound</title>
							<heartrate>100</heartrate>
						</event>
					</events>
				</stethoscope>
				<pulseoximeter>
					<events>
						<event id="001" seq="001" minutes="12:00">
							<title>Moderate compromise</title>
							<heartrate>100</heartrate>
							<oxygen>75</oxygen>
						</event>
					</events>
				</pulseoximeter>
			</devices>
		</scenario>
	</scenarios>
</configuration>
