<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configversion id="1.2.6" date="15 DEC 2016"/>
	<panels>
		<panel 		id="PAN000" type="ISP"	name="instrument_panel" 																							status="online">
			<device id="DEV000" type="CS"	name="control_system"		mac_bt="B8:27:EB:DD:1F:86"	mac_eth="b8:27:eb:77:b5:2c"	mac_wlan="b8:27:eb:22:e0:79"	status="available">
				<description>
					A Raspberry Pi-bassed controller which serves as a control point to all panel-attached devices
				</description>
			</device>
			<device id="DEV001" type="SD"	name="stethoscope"			mac_bt="00:06:66:7D:81:7D" 																status="available">
				<description>
					An electronic stethoscope providing either augmented listening or unmodified heart sounds 
				</description>
			</device>
			<device id="DEV002" type="SD"	name="ophthalmoscope"		mac_bt="00:06:66:80:8C:BE"																status="available">
				<description>
					No description
				</description>
			</device>
			<device id="DEV003" type="SD"	name="otoscope"				mac_bt="00:06:66:80:8C:A9"																status="unavailable">
				<description>
					No description
				</description>
			</device>
		</panel>
		<panel 		id="PAN001" type="ISP"																														status="online">
			<device id="DEV000" type="CS"	name="control_system"		mac_bt="B8:27:EB:DD:1F:86"	mac_eth="b8:27:eb:77:b5:2c" mac_wlan="b8:27:eb:22:e0:79" 	status="available">
				<description>
					A Raspberry Pi-bassed controller which serves as a control point to all panel-attached devices
				</description>
			</device>
			<device id="DEV001" type="SD"	name="stethoscope"   		mac_bt="00:06:66:7D:81:7D" 																status="available">
				<description>
					An electronic stethoscope providing either augmented listening or unmodified heart sounds 
				</description>
			</device>
			<device id="DEV002" type="SD"	name="opthalmascope" 		mac_bt="00:06:66:80:8C:BE"																status="available">
				<description>
					No description
				</description>
			</device>
			<device id="DEV003" type="SD"	name="otoscope"      		mac_bt="00:06:66:80:8C:A9"																status="unavailable">
				<description>
					No description
				</description>
			</device>
			<device id="DEV004" type="SD"	name="pulseoximeter" 		mac_bt="0006667d8180"																	status="available">
				<description>
					No description
				</description>
			</device>
			<device id="DEV005" type="SD"	name="bloodpressure" 		mac_bt="0006667d8181"																	status="unavailable">
				<description>
					No description
				</description>
			</device>
			<device id="DEV006" type="SD"	name="thermometer"   		mac_bt="0006667d8182"																	status="available">
				<description>
					No description
				</description>
			</device>
		</panel>
	</panels>
	<scenarios>
		<scenario id="SCN000" number="0" title="baseline">
			<narrative>
				In this scenario, the patient presents with...
			</narrative>
			<parameters>
				<parameter id="PARAM000" type="timer" name="t0">30</parameter>
				<parameter id="PARAM001" type="timer" name="t" >300</parameter>
				<parameter id="PARAM002" type="timer" name="tp">30</parameter>
			</parameters>
			<devices>
				<device	id="DEV000" type="SD" name="ophthalmoscope">
				</device>
				<device id="DEV001" type="SD" name="otoscope">
				</device>
			</devices>
		</scenario>
	</scenarios>
</configuration>
